# VS Code settings
.vscode/
.history/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Mac system files
.DS_Store

# Python virtual environments
venv/
env/
.myelement-env/
.myelement-env/

# Streamlit secrets
.streamlit/secrets.toml

# System folders
.devcontainer/
.python-version